<div class="form-group">
  <div class="col-sm-10">
    <div data-bind="css: {'combobox-selected': selectedItem}" class="combobox-container">
      <fieldset data-bind="attr: {disabled: disabled}">
        <div class="input-group dropdown">           
          <input data-bind="textInput: searchText, attr: {placeholder: placeholder, readonly: readOnly, disabled: disabled}" type="text" autocomplete="off"
            class="combobox form-control input-sm" data-toggle="dropdown" aria-expanded="false">
          <span class="input-group-btn" data-toggle="dropdown">
            <button data-bind="attr: {disabled: disabled}, click: selectedItem()!==null ? clearSelection : null" type="button" class="btn btn-sm btn-default btn-combobox">
              <span class="caret"></span>
              <small>
                <span class="glyphicon glyphicon-remove small"></span>                
              </small>              
            </button>            
          </span>
                 
          <ul data-bind="event: { scroll: scrolled }, css: {'no-results': results().length===0}" class="typeahead typeahead-long dropdown-menu" style="min-width:100%;width:auto">
            <!-- ko foreach:results -->
            <li data-bind="click: $component.selectItem, attr: {'data-text': name, 'data-value': id}, css: {'active':isActive}" class="">
              <a href="#" class="dropdown-item">
                <span class="small" data-bind="text: name"></span>
              </a>
            </li>
            <!-- /ko -->
            <li data-bind="visible: results().length===0">
                <a href="#" class="dropdown-item">
                  <span class="small">No Results</span>
                </a>
            </li>
            <div class="spinnerContainer" data-bind="visible: (isComponentLoaded() && isSearching)">
                <span style="display:none" data-bind="visible: isSearching, css: {'spinner': isSearching}"></span> 
            </div>          
          </ul>        
        </div>
      </fieldset>
    </div>
  </div>
</div>