<combobox-search id="combo-search-organizations" params="{
    placeholder: 'Search Organizations...',
    serviceEndpoint: 'http://localhost:3000/organizations'
}">
</combobox-search>

<br/><br/>

<combobox-search id="combo-search-departments" params="{
    placeholder: 'Search Departments...',
    serviceEndpoint: 'http://localhost:3000/departments',
    subscribeToId: 'combo-search-organizations',
    subscribeTo: {
        id: 'combo-search-organizations',
        mapping: {
            orgid: 'id', //orgid is the dept parameter for finding orgs, id is the organization id of the publisher
            todo: 'see the implementation in the this.subscriberItem.subscribe'
        }
    }
}">
</combobox-search>

<br/><br/>

<combobox-search id="combo-search-peoplegroups" params="{
    placeholder: 'Search People Groups...',
    serviceEndpoint: 'http://localhost:3000/peoplegroups'
}">
</combobox-search>

<br/><br/>

<combobox-search id="combo-search-jobtitles" params="{
    placeholder: 'Search Job Titles...',
    serviceEndpoint: 'http://localhost:3000/jobtitles'
}">
</combobox-search>                

<br><br><br>
<div class="container">
    <div class="well" data-bind="text: ko.toJSON(selectedFilters)">
    </div>
</div>